.stgit*
*~
*.o
src/cm4all-beng-proxy

test/benchmark-gmtime
test/format-http-date
test/request-translation
test/t-istream-dechunk
test/t-istream-chunked
test/t-istream-fcgi
test/t-istream-hold
test/t-istream-pipe
test/t-istream-cat
test/t-istream-delayed
test/t-istream-subst
test/t-istream-deflate
test/t-istream-byte
test/t-parser-cdata
test/t-html-unescape
test/t-html-escape
test/t-http-server-mirror
test/t-processor
test/t-istream-processor
test/t-istream-replace
test/t-istream-replace2
test/t-istream-iconv
test/t-istream-html-escape
test/run-subst
test/run-google-gadget
test/run-embed
test/t-http-client
test/run-cookie-client
test/t-shm
test/t-dpool
test/t-cookie-client
test/t-widget-registry
test/t-session
test/run-header-parser
test/t-wembed
test/run-ajp-client
test/t-http-util
test/t-http-cache
test/t-http-server
test/t-cache
test/t-cgi
test/t-expansible-buffer
test/t-hashmap

*.aux
*.log
*.out
*.pdf
*.toc

*.pyo
*.pyc
