.stgit*
*~
*.o
*.a
src/cm4all-beng-proxy
src/cm4all-beng-proxy-delegate-helper
src/cm4all-beng-proxy-delegate-jail

test/benchmark-gmtime
test/format-http-date
test/request-translation
test/t-istream-dechunk
test/t-istream-chunked
test/t-istream-fcgi
test/t-istream-hold
test/t-istream-pipe
test/t-istream-cat
test/t-istream-delayed
test/t-istream-subst
test/t-istream-deflate
test/t-istream-byte
test/run-parser-cdata
test/run-html-unescape
test/run-html-escape
test/t-http-server-mirror
test/run-processor
test/t-istream-processor
test/t-istream-replace
test/t-istream-replace2
test/t-istream-iconv
test/t-istream-html-escape
test/run-subst
test/run-google-gadget
test/run-embed
test/t-http-client
test/run-cookie-client
test/run-cookie-server
test/t-shm
test/t-dpool
test/t-cookie-client
test/t-cookie-server
test/t-widget-registry
test/t-session
test/run-header-parser
test/t-wembed
test/run-ajp-client
test/run-memcached-client
test/t-http-util
test/t-http-cache
test/t-http-server
test/t-cache
test/t-stock
test/t-cgi
test/t-expansible-buffer
test/t-hashmap
test/t-widget-stream
test/run-delegate
test/t-resource-address
test/t-tcache
test/t-uri-compress
test/t-widget-http
test/t-rewrite-uri
test/t-sink-header
test/dump-memcached-choice
test/cleanup-memcached-choice
test/t-istream-tee
test/t-header-forward

*.aux
*.log
*.out
*.pdf
*.toc

*.pyo
*.pyc

*.cache
build
libtool
*.log
*.status
Makefile
Makefile.in
configure
aclocal.m4
.libs
.deps
.dirstamp
*.pc
perf.data
