.stgit*
*~
*.o
*.o-????????
*.a
*.bc
*.s

/cm4all-beng-proxy
/cm4all-beng-proxy-delegate-helper
/cm4all-beng-proxy-delegate-jail
/cm4all-beng-proxy-log-cat
/cm4all-beng-proxy-log-split
/cm4all-beng-proxy-log-forward
/cm4all-beng-proxy-log-exec
/cm4all-beng-proxy-log-traffic
/cm4all-beng-proxy-log-tee
/cm4all-beng-lb

test/benchmark-gmtime
test/format-http-date
test/run_css_parser
test/run_httpd_hello
test/run_ua_parser
test/t-escape-css
test/run_http_server
test/run-google-gadget
test/run-embed
test/run_client
test/t_ajp_client
test/t_fcgi_client
test/t-widget-stream
test/t_http_address
test/t-processor
test/was_mirror
test/run_was
test/t_balancer
test/t_rubber
test/t_sink_rubber
test/t_slice
test/run_http_cache
test/t_pool

*.aux
*.log
*.out
*.pdf
*.toc

*.pyo
*.pyc

*.cache
build
libtool
*.log
*.status
Makefile
Makefile.in
configure
aclocal.m4
.libs
.deps
.dirstamp
*.pc
perf.data
perf.data.old
/confdefs.h
/conftest.err
/conftest.c
