[Unit]
Description=CM4all beng-proxy
After=network.target

[Service]
ExecStart=/usr/lib/cm4all/beng-proxy/systemd/run.sh

LimitNOFILE=262144

[Install]
WantedBy=multi-user.target
