[Unit]
Description=CM4all beng-proxy
After=network.target

[Service]
Type=notify
ExecStart=/usr/lib/cm4all/beng-proxy/systemd/run.sh
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
SyslogIdentifier=cm4all-beng-proxy

[Install]
WantedBy=multi-user.target
