[Unit]
Description=CM4all beng load balancer
After=network.target

[Service]
ExecStart=/usr/lib/cm4all/beng-lb/systemd/run.sh
Restart=on-failure
SyslogIdentifier=cm4all-beng-lb

[Install]
WantedBy=multi-user.target
