[Unit]
Description=CM4all beng load balancer
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/lib/cm4all/beng-lb/systemd/run.sh
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

SyslogIdentifier=cm4all-beng-lb

# enable crash dumps
LimitCORE=infinity

LimitNOFILE=262144

TasksMax=32

[Install]
WantedBy=multi-user.target
