[Unit]
Description=CM4all beng-proxy
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/lib/cm4all/beng-proxy/systemd/run.sh
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

SyslogIdentifier=cm4all-beng-proxy

# enable crash dumps
LimitCORE=infinity

LimitNOFILE=262144

# systemd's default is only 15% which can be too low
TasksMax=50%

[Install]
WantedBy=multi-user.target
