[Unit]
Description=CM4all beng-proxy
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/lib/cm4all/beng-proxy/systemd/run.sh
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

SyslogIdentifier=cm4all-beng-proxy

# enable crash dumps
LimitCORE=infinity

LimitNOFILE=262144

# Limit memory usage to avoid the global oomkiller when this service
# leaks; this does not include spawned processes which live in their
# own systemd slice/scope.  These limits may need to be raised if you
# want beng-proxy to maintain larger caches.
LimitRSS=8G
LimitDATA=8G
MemoryMax=8G

# 1 MB is more than enough; the default is 8 MB, which is excessive
LimitSTACK=1M

# systemd's default is only 15% which can be too low
TasksMax=50%

[Install]
WantedBy=multi-user.target
