[Unit]
Description=CM4all beng load balancer
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/lib/cm4all/beng-lb/systemd/run.sh
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

SyslogIdentifier=cm4all-beng-lb

User=cm4all-beng-lb

# Allow reading TLS key files
AmbientCapabilities=CAP_DAC_READ_SEARCH

# Allow binding to privileged ports
AmbientCapabilities=CAP_NET_BIND_SERVICE

# Needed for IP_TRANSPARENT, SO_BINDTODEVICE
AmbientCapabilities=CAP_NET_RAW

# Needed to start logger processes as user "cm4all-logger"
AmbientCapabilities=CAP_SETUID CAP_SETGID

# enable crash dumps
LimitCORE=infinity

LimitNOFILE=262144

# Limit memory usage to avoid the global oomkiller when this service
# leaks
LimitRSS=8G
MemoryMax=8G

# 1 MB is more than enough; the default is 8 MB, which is excessive
LimitSTACK=1M

TasksMax=32

[Install]
WantedBy=multi-user.target
