[Unit]
Description=CM4all beng load balancer
After=network.target

[Service]
Type=notify
ExecStart=/usr/lib/cm4all/beng-lb/systemd/run.sh
Restart=on-failure

LimitNOFILE=65536

SyslogIdentifier=cm4all-beng-lb

[Install]
WantedBy=multi-user.target
