[Unit]
Description=CM4all beng-proxy
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/lib/cm4all/beng-proxy/systemd/run.sh
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

SyslogIdentifier=cm4all-beng-proxy

User=cm4all-beng-proxy

RuntimeDirectory=cm4all/beng-proxy
RuntimeDirectoryMode=0700

# We need to preserve the RuntimeDirectory across restarts currently,
# because all beng-proxy installations configure the
# "session_save_path" file there.  This should be fixed eventually.
RuntimeDirectoryPreserve=restart

# Allow reading TLS key files
AmbientCapabilities=CAP_DAC_READ_SEARCH

# Allow the spawner to write cgroup files
AmbientCapabilities=CAP_DAC_OVERRIDE

# Allow binding to privileged ports
AmbientCapabilities=CAP_NET_BIND_SERVICE

# Needed to start logger processes as user "cm4all-logger"
AmbientCapabilities=CAP_SETUID CAP_SETGID

# Needed by the spawner
AmbientCapabilities=CAP_KILL
#TODO: check CAP_SYS_NICE CAP_SYS_PTRACE CAP_SYS_RESOURCE

# The spawner needs this sledge hammer for setns() (and for other
# things that could probably be fixed)
AmbientCapabilities=CAP_SYS_ADMIN

# enable crash dumps
LimitCORE=infinity

# for io_uring
LimitMEMLOCK=64M

LimitNOFILE=262144

# Limit memory usage to avoid the global oomkiller when this service
# leaks; this does not include spawned processes which live in their
# own systemd slice/scope.  These limits may need to be raised if you
# want beng-proxy to maintain larger caches.
LimitRSS=8G
MemoryMax=8G

# 1 MB is more than enough; the default is 8 MB, which is excessive
LimitSTACK=1M

# systemd's default is only 15% which can be too low
TasksMax=50%

[Install]
WantedBy=multi-user.target
