Source: cm4all-beng-proxy
Section: non-free/web
Priority: optional
Maintainer: Max Kellermann <mk@cm4all.com>
Build-Depends: debhelper (>= 5), gcc (>= 4.1), libcm4all-daemon-dev (>= 0.3), libevent-dev (>= 1.3c), libattr1-dev, tetex-bin (>= 3.0)
Standards-Version: 3.7.2

Package: cm4all-beng-proxy
Architecture: any
Depends: ${shlibs:Depends}, lsb-base (>= 3.0-6),
 cm4all-thirdparty-multilog, adduser
Suggests: attr
Description: HTTP proxy server
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.

Package: cm4all-beng-proxy-doc
Architecture: any
Section: non-free/doc
Description: Documentation for cm4all-beng-proxy
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.
 .
 This package provides documentation.
