Source: cm4all-beng-proxy
Section: web
Priority: optional
Maintainer: Max Kellermann <mk@cm4all.com>
Build-Depends: debhelper (>= 13.3~), dh-python,
 python3,
 meson (>= 0.55),
 g++ (>= 4:10.2) | clang-11,
 g++ (>= 4:10.2) | libc++-11-dev,
 g++ (>= 4:10.2) | libc++abi-11-dev,
 libc6-dev (>= 2.28),
 libsystemd-dev, libdbus-1-dev,
 libseccomp-dev,
 libboost-dev (>= 1.56),
 libcurl4-openssl-dev (>= 7.38),
 libpcre3-dev,
 libcap-dev,
 libc-ares-dev,
 libgtest-dev,
 libluajit-5.1-dev,
 libattr1-dev,
 libsodium-dev (>= 1.0.16),
 libssl-dev (>= 1.1),
 libnfs-dev (>= 1.9.5),
 libnghttp2-dev (>= 1.18),
 libpq-dev (>= 8.4),
 libyaml-cpp-dev,
 libavahi-client-dev,
 liburing-dev,
 zlib1g-dev,
 libcm4all-was-protocol-dev (>= 1.0),
 python3-sphinx,
 valgrind
Standards-Version: 3.9.1
Vcs-Browser: https://github.com/CM4all/beng-proxy
Vcs-Git: git://github.com/CM4all/beng-proxy

Package: cm4all-beng-proxy
Architecture: any
Depends: ${shlibs:Depends},
 cm4all-slice (>= 0.6),
 policykit-1,
 systemd-sysv
Recommends: cm4all-beng-proxy-translation | cm4all-jetserv-daemon,
 cm4all-spawn (>= 0.6),
 libcm4all-beng-proxy-js (= ${source:Version})
Suggests: attr, cm4all-coma-cgi,
 cm4all-beng-proxy-logging (= ${source:Version}),
 cm4all-beng-proxy-delegate-helper
Provides: httpd, httpd-cgi
Conflicts: cm4all-beng-proxy-toi-dbg,
 cm4all-beng-proxy-toi,
 cm4all-beng-proxy-optimized
Breaks: libcm4all-beng-proxy-js (<< 0.9.14),
 libcm4all-was-simple1 (<< 1.8),
 cm4all-coma-fastcgi (<< 2.11),
 cm4all-ticket-fastcgi (<< 2.6),
 cm4all-spawn (<< 0.6),
 python-cm4all-translation (<< 3~),
 python-cm4all-beng-translation,
 python-cm4all-beng-translation-common
Description: HTTP proxy server
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.

Package: cm4all-beng-proxy-logging
Architecture: any
Depends: ${shlibs:Depends}
Enhances: cm4all-beng-proxy
Suggests: cm4all-beng-proxy (= ${source:Version})
Description: Logging servers for beng-proxy
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.
 .
 This package contains logging servers for use with beng-proxy.

Package: cm4all-beng-proxy-delegate-helper
Architecture: any
Depends: ${shlibs:Depends}
Enhances: cm4all-beng-proxy
Description: HTTP proxy server, delegate helper
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.
 .
 This package contains the delegate helper.  It can be used to open
 files safely.

Package: cm4all-beng-control
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: cm4all-beng-proxy
Suggests: cm4all-beng-proxy (= ${source:Version})
Description: Control client for beng-proxy
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.
 .
 This package contains the control client.

Package: libcm4all-beng-proxy-js
Architecture: all
Enhances: cm4all-beng-proxy
Breaks: cm4all-beng-proxy (<< 0.8.14)
Description: JavaScript library for cm4all-beng-proxy
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.
 .
 This package provides the JavaScript library for managing widgets
 from within a web browser.

Package: libcm4all-beng-proxy3-dev
Architecture: all
Section: libdevel
Depends: libc6-dev,
 pkg-config (>= 0.9.0)
Description: Development files for cm4all-beng-proxy
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.
 .
 This package provides C++ headers for developing extensions and
 services for cm4all-beng-proxy.

Package: python-cm4all-beng-proxy
Architecture: all
Section: python
Provides: ${python:Provides}
Depends: ${python:Depends}, python-twisted-core, python-twisted-names, python-future
Recommends: cm4all-beng-proxy
Description: Python bindings for beng-proxy
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.
 .
 This is the Python translation server library.

Package: python3-cm4all-beng-proxy
Architecture: all
Section: python
Provides: ${python3:Provides}
Depends: ${python3:Depends}, python3-future
Recommends: cm4all-beng-proxy | cm4all-beng-lb
Description: Python 3 bindings for beng-proxy's control channel
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.
 .
 This Python 3 library provides a control channel client.

Package: cm4all-beng-proxy-tools
Architecture: all
Depends: ruby (>= 1:2.1)
Enhances: cm4all-beng-proxy
Description: Tools for beng-proxy
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.
 .
 This package provides tools for working with beng-proxy.

Package: cm4all-beng-proxy-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Built-Using: ${sphinxdoc:Built-Using}
Description: Documentation for cm4all-beng-proxy
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.
 .
 This package provides documentation.

Package: cm4all-beng-lb
Architecture: any
Depends: ${shlibs:Depends},
 systemd-sysv
Suggests: cm4all-certdb2, avahi-daemon
Provides: httpd
Breaks: cm4all-beng-proxy-logging (<< 13.0.9)
Description: HTTP load balancer
 BENG lb is a HTTP proxy server and load balancer.

Package: cm4all-certdb2
Architecture: any
Enhances: cm4all-beng-lb
Depends: ${shlibs:Depends}
Replaces: cm4all-certdb
Conflicts: cm4all-certdb
Description: Tools for managing the certificate database
 BENG lb is a HTTP proxy server and load balancer.
 .
 This package provides tools for managing the (optional) certificate
 database.

Package: cm4all-certdb-sql
Architecture: all
Enhances: cm4all-beng-lb
Replaces: cm4all-certdb (<< 11.16)
Conflicts: cm4all-certdb (<< 11.16)
Description: SQL scripts for the certificate database
 BENG lb is a HTTP proxy server and load balancer.
 .
 This package provides SQL scripts to initialize the certificate
 database.
