Source: cm4all-beng-proxy
Section: web
Priority: optional
Maintainer: Max Kellermann <mk@cm4all.com>
Build-Depends: debhelper (>= 13.3~), dh-python,
 python3,
 meson (>= 1.2),
 g++ (>= 4:12),
 libc6-dev (>= 2.36),
 libsystemd-dev, libdbus-1-dev,
 libseccomp-dev,
 libbrotli-dev,
 libcurl4-openssl-dev (>= 7.38),
 libpcre2-dev,
 libcap-dev,
 libfmt-dev (>= 9),
 libgtest-dev,
 libluajit-5.1-dev,
 libsodium-dev (>= 1.0.16),
 libssl-dev (>= 3),
 libnghttp2-dev (>= 1.18),
 libpq-dev (>= 9.2),
 nlohmann-json3-dev (>= 3.11),
 libavahi-client-dev,
 liburing-dev,
 zlib1g-dev,
 libcm4all-was-protocol-dev (>= 1.26),
 python3-sphinx
Standards-Version: 3.9.1
Vcs-Browser: https://github.com/CM4all/beng-proxy
Vcs-Git: git://github.com/CM4all/beng-proxy

Package: cm4all-beng-proxy
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 cm4all-slice (>= 0.6),
 polkitd (>= 121),
 systemd-sysv
Recommends: cm4all-beng-proxy-translation | cm4all-jetserv-daemon,
 cm4all-spawn-reaper,
 libcm4all-beng-proxy-js (= ${source:Version})
Suggests: attr, cm4all-coma-cgi,
 cm4all-spawn-accessory,
 cm4all-beng-proxy-logging (= ${source:Version})
Provides: httpd, httpd-cgi
Breaks: libcm4all-beng-proxy-js (<< 0.9.14),
 libcm4all-was-simple1 (<< 1.8),
 cm4all-coma-fastcgi (<< 2.11),
 cm4all-ticket-fastcgi (<< 2.6),
 cm4all-spawn (<< 0.6),
 python-cm4all-translation (<< 3~),
 python-cm4all-beng-translation,
 python-cm4all-beng-translation-common
Description: HTTP proxy server
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.

Package: cm4all-beng-proxy-logging
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: cm4all-beng-proxy
Suggests: cm4all-beng-proxy (= ${source:Version})
Description: Logging servers for beng-proxy
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.
 .
 This package contains logging servers for use with beng-proxy.

Package: cm4all-beng-control
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: cm4all-beng-proxy
Suggests: cm4all-beng-proxy (= ${source:Version})
Description: Control client for beng-proxy
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.
 .
 This package contains the control client.

Package: libcm4all-beng-proxy-js
Architecture: all
Enhances: cm4all-beng-proxy
Breaks: cm4all-beng-proxy (<< 0.8.14)
Description: JavaScript library for cm4all-beng-proxy
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.
 .
 This package provides the JavaScript library for managing widgets
 from within a web browser.

Package: python3-cm4all-beng-proxy
Architecture: all
Section: python
Provides: ${python3:Provides}
Depends: ${misc:Depends}, ${python3:Depends}
Recommends: cm4all-beng-proxy | cm4all-beng-lb
Description: Python 3 bindings for beng-proxy's control channel
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.
 .
 This Python 3 library provides a control channel client.

Package: cm4all-beng-proxy-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Built-Using: ${sphinxdoc:Built-Using}
Description: Documentation for cm4all-beng-proxy
 BENG proxy is an HTTP proxy server which includes a HTML template
 processor.
 .
 This package provides documentation.

Package: cm4all-beng-lb
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 systemd-sysv
Suggests: cm4all-certdb2, avahi-daemon
Provides: httpd
Breaks: cm4all-beng-proxy-logging (<< 13.0.9)
Description: HTTP load balancer
 BENG lb is a HTTP proxy server and load balancer.

Package: cm4all-certdb2
Architecture: any
Enhances: cm4all-beng-lb
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: cm4all-certdb
Conflicts: cm4all-certdb
Description: Tools for managing the certificate database
 BENG lb is a HTTP proxy server and load balancer.
 .
 This package provides tools for managing the (optional) certificate
 database.

Package: cm4all-certdb-sql
Architecture: all
Enhances: cm4all-beng-lb
Replaces: cm4all-certdb (<< 11.16)
Conflicts: cm4all-certdb (<< 11.16)
Description: SQL scripts for the certificate database
 BENG lb is a HTTP proxy server and load balancer.
 .
 This package provides SQL scripts to initialize the certificate
 database.
