#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

MESON_OPTIONS = \
	--includedir=include/cm4all/libbeng-proxy-3 \
	-Ddocumentation=enabled \
	--werror

%:
	dh $@ --with=python2 --with=python3 --with sphinxdoc --no-start

.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	dh_auto_configure -- $(MESON_OPTIONS)

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbgsym-migration='cm4all-beng-proxy-dbg (<< 15.6~), cm4all-beng-lb-dbg (<< 15.6~)'
