#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

MESON_OPTIONS = \
	-Ddocumentation=enabled \
	-Dbrotli=enabled \
	-Dhttp2=enabled \
	-Dio_uring=enabled \
	-Dnfs=enabled \
	-Dsystemd=true \
	-Dwas=enabled \
	-Dyaml=enabled \
	-Dzeroconf=enabled

%:
	dh $@ --with=python3 --with sphinxdoc --no-start --restart-after-upgrade

.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	dh_auto_configure -- $(MESON_OPTIONS)
