body {
    color: black;
    background-image:url('background.png');
}

div.test {
    color: black;
    -c-mode: proxy;
    background-image:url('background.png');
}

div.__foo {
    color: red;
}

div.___bar {
    color: green;
}

#foo, #__foo {
    color: blue;
}

#___bar {
    color: yellow;
}
