body {
    color: black;
    background-image:url('background.png');
}

div.test {
    color: black;
    -c-mode: proxy;
    background-image:url('background.png');
}

div._foo {
    color: red;
}

div.__bar {
    color: green;
}
