body {
    color: black;
    background-image:url('background.png');
}

div.test {
    color: black;
    -c-mode: partial;
    -c-view: raw;
    background-image:url('background.png');
}

div.__foo {
    color: red;
}

div.___bar {
    color: green;
}

div.__ {
    background-color: red;
}

div.___ {
    background-color: green;
}

#foo, #__foo {
    color: blue;
}

#___bar {
    color: yellow;
}

#__ {
    background-color: blue;
}

#___ {
    background-color: yellow;
}
